# Logs
logs
*.log

# Dependency directories
node_modules/
dist/

# Environment variables
.env

# Build output
build/
dist/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db